<div class="admin_panel_container" *ngIf="this.checkRole()">
  <div class="user_container">
    <!-- <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let user of users; index as i; first as isFirst">
        {{user.username}} | Role | {{user.surname}} | {{user.name}} | {{user.phone}} | {{user.email}}
      </li>
    </ul> -->
    <h3 class="users">Список Покупателей:</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Control</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; index as i; first as isFirst">
          <th scope="row">{{user.id}}</th>
          <td>{{user.username}}</td>
          <td>{{user.roles[0]['name']}}</td>
          <td>{{user.name}}</td>
          <td>{{user.surname}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td>
          <td>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="editUserModal(user)" data-bs-toggle="modal" data-bs-target="#updateUserModal" >Edit</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteUserModal(user)" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="empty_alarm" *ngIf="!usersIsEmpty()">
      <h2>Список пользователей Пуст</h2>
    </div>
  </div>

  <div class="seller_container">
    <h3 class="users">Список Продавцов:</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">ИНН</th>
          <th scope="col">Description</th>
          <th scope="col">Contact Info</th>
          <th scope="col">Control</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seller of sellers; index as i; first as isFirst">
          <th scope="row">{{seller.id}}</th>
          <td>{{seller.username}}</td>
          <td>{{seller.name}}</td>
          <td>{{seller.inn}}</td>
          <td>
            <div class="form-floating">
              <textarea class="form-control" disabled  id="floatingTextarea2" style="height: 100px">
                {{seller.description}}
              </textarea>

            </div>

          </td>
          <td>
            <div class="form-floating">
              <textarea class="form-control" disabled  id="floatingTextarea2" style="height: 100px">
                {{seller.contactInfo}}
              </textarea>

            </div>
          </td>
          <!-- <td>{{seller.products.length}}</td> -->
          <td>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="editSellerModal(seller)" data-bs-toggle="modal" data-bs-target="#updateSellerModal" >Edit</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteSellerModal(seller)" data-bs-toggle="modal" data-bs-target="#deleteSellerModal">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="empty_alarm" *ngIf="!sellersIsEmpty()">
      <h2>Список Продавцов Пуст</h2>
    </div>
  </div>
</div>


 <!-- Edit User Modal -->
 <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateUserModalLabel">Изменить пользователя: {{editUser?.username}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name">Username</label>
                 <input type="text" ngModel="{{editUser?.username}}" name="username" class="form-control" id="username" placeholder="Username">
              </div>
              <input type="hidden" ngModel="{{editUser?.id}}" name="id" class="form-control" id="id">
              <input type="hidden" ngModel="{{editUser?.password}}" name="password" class="form-control" id="password" >
              <input type="hidden" ngModel="{{editUser?.roles}}" name="role" class="form-control" id="role" >

              <div class="form-group">
                <label for="name">First</label>
                <input type="text" ngModel="{{editUser?.name}}" name="name" class="form-control" id="name" placeholder="Name">
              </div>

              <div class="form-group">
                 <label for="surname">Last</label>
                 <input type="text" ngModel="{{editUser?.surname}}" name="surname" class="form-control" id="surname" placeholder="Surname">
              </div>

              <div class="form-group">
                 <label for="phone">Phone</label>
                 <input type="text" ngModel="{{editUser?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="+1234567890">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" ngModel="{{editUser?.email}}" name="email" class="form-control" id="email" name="email"  placeholder="help@gmail.com">
             </div>
              <div class="modal-footer">
                 <button type="button" id="edit-product-form" data-bs-dismiss="modal" class="btn btn-secondary" >Закрыть</button>
                 <button (click)="onUpdateUser(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Сохранить</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete User Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="userDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteUserModalLabel">Удалить пользователя: {{deleteUser?.username}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <p>Вы уверены, что хотите удалить пользователя: {{deleteUser?.username}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
               <button (click)="onDeleteUser(deleteUser.id)" class="btn btn-danger" data-bs-dismiss="modal">Да</button>
            </div>
         </div>
      </div>
  </div>
</div>
<!-- </div> -->

<!-- Edit Seller Modal -->
<div class="modal fade" id="updateSellerModal" tabindex="-1" role="dialog" aria-labelledby="userSellerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateSellerModalLabel">Изменить пользователя: {{editSeller?.username}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
           <form #sellerEditForm="ngForm">
              <div class="form-group">
                 <label for="username">Username</label>
                 <input type="text" ngModel="{{editSeller?.username}}" name="username" class="form-control" id="username" placeholder="Username">
              </div>
              <input type="hidden" ngModel="{{editSeller?.id}}" name="id" class="form-control" id="id">
              <input type="hidden" ngModel="{{editSeller?.password}}" name="password" class="form-control" id="password" >
              <!-- <input type="hidden" ngModel="{{editSeller?.products}}" name="products" class="form-control" id="products" > -->
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" ngModel="{{editSeller?.name}}" name="name" class="form-control" id="name" placeholder="Name">
             </div>
              <div class="form-group">
                 <label for="inn">ИНН</label>
                 <input type="number" ngModel="{{editSeller?.inn}}" name="inn" class="form-control" id="inn" name="inn" placeholder="1234567890">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <div class="form-floating">
                  <textarea class="form-control" type="text" ngModel="{{editSeller?.description}}" name="description" id="description" placeholder="Leave a description here" id="floatingTextarea2" style="height: 100px">
                  </textarea>
                  <label for="floatingTextarea2">Description</label>
                </div>
              </div>
              <div class="form-group">
                <label for="contactInfo">Контактная информация</label>
                <div class="form-floating">
                  <textarea class="form-control" type="text" ngModel="{{editSeller?.contactInfo}}" name="contactInfo" id="conactInfo" placeholder="Leave a contact info here" id="floatingTextarea2" style="height: 100px">
                  </textarea>
                  <label for="floatingTextarea2">Contact info</label>
                </div>
              </div>
              <div class="modal-footer">
                 <button type="button" id="edit-product-form" data-bs-dismiss="modal" class="btn btn-secondary" >Закрыть</button>
                 <button (click)="onUpdateSeller(sellerEditForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Сохранить</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete User Modal -->
<div class="modal fade" id="deleteSellerModal" tabindex="-1" role="dialog" aria-labelledby="sellerDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteSellerModalLabel">Удалить пользователя: {{deleteSeller?.username}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <p>Вы уверены, что хотите удалить пользователя: {{deleteSeller?.username}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
               <button (click)="onDeleteSeller(deleteSeller.id)" class="btn btn-danger" data-bs-dismiss="modal">Да</button>
            </div>
         </div>
      </div>
  </div>
</div>
<!-- </div> -->

