.user_info{
  /* background-color: antiquewhite; */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(220,220,220,0.5);;
}

.product_container{
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(220,220,220,0.5);;
}

.product_container_inner{
  display: flex;
  justify-content: space-between;
}

.btn-success{
  background-color: #95e1d3;
  color: black;
  border: none;
}
.btn-success:hover{
  background-color: #006a4e;
  color: white;
  transition: 0.3s;
}

.list-group-item{
  word-wrap: normal;
}
