<div class="gallery_container" id = "gallery_container">


  <div class="search">
    <h2 class="search__title">
      Заказать онлайн в <a class="city" href="#">Красноярске и Красноярском крае</a>:
    </h2>
    <div class="form_container">
      <form class="d-flex py-4">
        <input class="form-control me-2" (keyup)="searchProducts($event)" size="150"  type="search" placeholder="Search" aria-label="Search">
      </form>

      <div class="admin-control btn-group" [ngSwitch]="this.getRole()">
        <ng-container *ngSwitchCase = "'ROLE_ADMIN'">
          <button type="button" class="button  add_btn" data-bs-toggle="modal" data-bs-target="#addProductModal">
            Добавить
          </button>
        </ng-container>
        <ng-container *ngSwitchDefault>

        </ng-container>

        </div>
    </div>

  </div>

  <div class="album py-1 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">

        <div class="col col-12 col-sm-12 col-md-5 col-xl-4 " *ngFor="let product of products; index as i; first as isFirst">
          <div class="card shadow-sm " >
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{products[0].name}}</title></svg> -->
            <div class="img_container "style="background-image: url('{{product?.imgUrl}}'); background-size: cover;">
              <!-- <img class="rounded img-thumbnail  mx-auto d-block mh-75"  > -->
              <!-- <img src="'{{product?.imgUrl}}'" style="visibility: none;" alt="" class="product_img"> -->
            </div>

            <div class="card-body">
              <h4 class="card-title">
                {{product.name}}
              </h4>
              <h6 class="card-city">{{product.city}}</h6>
              <!-- <h6 class="card-seller"> {{product.seller.username}}</h6> -->



              <div class="d-flex justify-content-between align-items-center" >
                <span class="price">
                  Цена от {{product.price}} руб
                </span>
                <div class="admin-control btn-group" [ngSwitch]="this.getRole()">
                  <ng-container *ngSwitchCase = "'ROLE_ADMIN'">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="editProductModal(product)" data-bs-toggle="modal" data-bs-target="#updateProductModal" >Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteProductModal(product)" data-bs-toggle="modal" data-bs-target="#deleteProductModal">Delete</button>

                  </ng-container>

                  <ng-container *ngSwitchCase = "'ROLE_USER'">
                    <button class=" like_btn" style="background-image: url(../../../assets/imgs/Rectangle\ 120.png);" (click)="this.likeProduct(this.product!.id)">Добавить </button>
                  </ng-container>

                  <!-- <ng-container *ngSwitchDefault>{{this.getRole()}}</ng-container> -->

                  </div>
              </div>
              <div class="btn_container" >
                <button type="button" style="background-image: url(../../../assets/imgs/Rectangle\ 120.png);" class="button order__btn" (click)="productToString(product)"  >Заказать</button>

              </div>

            </div>
          </div>


        </div>

      </div>
    </div>
  </div>




<!-- Add Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
         </div>
         <div class="form-group">
            <label for="price">Price</label>
            <input type="number" ngModel name="price" class="form-control" id="price" placeholder="Price" required>
         </div>
         <div class="form-group">
            <label for="count">Count</label>
            <input type="number" ngModel name="count" class="form-control" id="count" placeholder="Count" required>
         </div>
         <div class="form-group">
            <label for="imgUrl">Image URL</label>
            <input type="text" ngModel name="imgUrl" class="form-control" id="imgUrl" placeholder="Image URL" required>
          </div>
         <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" ngModel name="description" class="form-control" id="description" cols="30" raws="10" placeholder="Description" required>
            </textarea>
         </div>
         <div class="form-group">
          <label for="seller">Seller id</label>
          <input type="number" ngModel name="seller" class="form-control" id="seller" placeholder="Seller_id" required>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="string" ngModel name="city" class="form-control" id="city" placeholder="City" required>
        </div>

        <div class="form-group">
          <label for="region">Region</label>
          <input type="string" ngModel name="region" class="form-control" id="region" placeholder="region" required>
        </div>


         <div class="modal-footer">
            <button type="button" id="add-product-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
         </div>

        </form>
      </div>
    </div>
  </div>
</div>

  <!-- Edit Modal -->
<div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="productEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateProductModalLabel">Edit Product {{editProduct?.name}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name">Name</label>
                 <input type="text" ngModel="{{editProduct?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
              </div>
              <input type="hidden" ngModel="{{editProduct?.id}}" name="id" class="form-control" id="id" placeholder="Email">
              <div class="form-group">
                <label for="price">Price</label>
                <input type="number" ngModel="{{editProduct?.price}}" name="price" class="form-control" id="price" placeholder="Price">
              </div>

              <div class="form-group">
                 <label for="count">Count</label>
                 <input type="number" ngModel="{{editProduct?.count}}" name="count" class="form-control" id="count" placeholder="Count">
              </div>

              <div class="form-group">
                 <label for="imgUrl">Image URL</label>
                 <input type="text" ngModel="{{editProduct?.imgUrl}}" name="imgUrl" class="form-control" id="imgUrl" name="imgUrl" placeholder="imgUrl">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" ngModel={{editProduct?.description}} name="description" class="form-control" id="description" cols="30" raws="10" placeholder="Description" required>

                </textarea>

             </div>
             <!-- <div class="form-group"> -->
              <!-- <label for="seller">Seller id</label> -->
              <input type="hidden" ngModel={{editProduct?.seller?.id}} name="seller" class="form-control" id="seller" placeholder="Seller_id" required>
            <!-- </div> -->
            <div class="form-group">
              <label for="city">City</label>
              <input type="string" ngModel={{editProduct?.city}} name="city" class="form-control" id="city" placeholder="City" required>
            </div>

            <div class="form-group">
              <label for="region">Region</label>
              <input type="string" ngModel={{editProduct?.region}} name="region" class="form-control" id="region" placeholder="region" required>
            </div>

              <div class="modal-footer">
                 <button type="button" id="edit-product-form" data-bs-dismiss="modal" class="btn btn-secondary" >Close</button>
                 <button (click)="onUpdateProduct(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="productDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteProductModalLabel">Delete Product {{deleteProduct?.name}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete product {{deleteProduct?.name}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
               <button (click)="onDeleteProduct(deleteProduct.id)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
            </div>
         </div>
        </div>
     </div>
  </div>
</div>


<!-- </div> -->
