<div class="container">
  <div class="authentication__inner col-xl-4 col-md-6 col-sm-10">
    <div class="authenticationTypes  ">
      <button class="btn btn-light" (click)="toggleAuthentication('buyer')">Я - Покупатель</button>
      <button class="btn btn-light" (click)="toggleAuthentication('seller')">Я - Продавец</button>
    </div>
    <div class="authenticationContent" [ngSwitch]="getauthType()">
      <app-seller-login *ngSwitchCase="'seller'"></app-seller-login>
      <app-buyer-login *ngSwitchDefault="'buyer'"></app-buyer-login>
    </div>
  </div>
</div>


