<header class="p-3  text-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/main" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap">Market 24</use></svg> -->
        <!-- <svg class="bi me-2" width="100" height="101"></svg> -->
        <img class="logo" src="../../assets/imgs/Logo.png" width="100px" height="101px">
        <h1 class="title">Siberia</h1>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left: auto;margin-right: auto; gap: 20px;">
        <li><a class="nav-link px-2  " routerLink="/main" routerLinkActive="active" >Главная</a></li>
        <li><a  class="nav-link px-2 "  routerLink="/gallery" routerLinkActive="active">Галерея</a></li>
        <li><a href="#" class="nav-link px-2 " routerLink="/about_us" routerLinkActive="active">О нас</a></li>
      </ul>


      <div class="text-end" [ngSwitch]="this.checkRole">

        <ng-container *ngSwitchCase="'ROLE_ADMIN'">
          <button type="button" class="button login__btn"style="width:125px"  routerLink="/admin" routerLinkActive="active">Изменить</button>
          <button type="button" class="button signup__btn" style="width:75px" (click)="logout()">Выйти</button>
        </ng-container>
        <ng-container *ngSwitchCase="'ROLE_USER'">
          <button type="button" class="button login__btn" style="width:125px" routerLink="/user" routerLinkActve="active">Аккаунт</button>
          <button type="button" class="button signup__btn" style="width:75px" (click)="logout()">Выйти</button>

        </ng-container>
        <ng-container *ngSwitchCase="'ROLE_SELLER'">
          <button type="button" class="button login__btn" style="width:125px" routerLink="/seller" routerLinkActive="active">Кабинет</button>
          <button type="button" class="button signup__btn" style="width:75px" (click)="logout()">Выйти</button>

        </ng-container>
        <div *ngSwitchDefault>
          <button type="button" class="button signup__btn" style="width:125px" routerLink="/signup" routerLinkActive="active" (click)="rememberLink()">Регистрация</button>
          <button type="button" class="button login__btn" style="width:75px" routerLink="/login" routerLinkActive="active" (click)="rememberLink()">Войти</button>
        </div>

       </div>


       <!-- <div *ngIf="showUserRole">
        <button type="button" class="button signup__btn" style="width:125px" routerLink="/signup" routerLinkActive="active" (click)="rememberLink()">Регистрация</button>
        <button type="button" class="button login__btn" style="width:75px" routerLink="/login" routerLinkActive="active" (click)="rememberLink()">Войти</button>

       </div> -->
       <!-- {{this.user.role}} -->
       <!-- {{roleShow()}} -->
    </div>
  </div>
</header>


