
<hr>
<ul class="nav col-12 col-lg-auto me-lg-auto  mb-md-0" style="margin-left: auto;margin-right: auto; gap: 20px;">
  <li><a class="nav-link px-2 text-dark" routerLink="/main" routerLinkActive="active" >Главная </a></li>
  <!-- <li> - </li> -->
  <li><a  class="nav-link px-2 text-dark"  routerLink="/gallery" routerLinkActive="active">Галерея </a></li>
  <!-- <li> - </li> -->
  <li><a href="#" class="nav-link px-2 text-dark" routerLink="/about_us" routerLinkActive="active">О нас</a></li>
</ul>
<ul class="nav col-12 col-lg-auto me-lg-auto  mb-md-0" style="margin-left: auto;margin-right: auto; gap: 20px;">

  <li><a class="nav-link px-2 text-dark"  >© 2021 Smirnov  </a></li>
  <!-- <li> - </li> -->
  <li><a href="#"  class="nav-link px-2 text-dark" >Доступность в Indeed</a></li>
  <!-- <li> - </li> -->
  <li><a href="#" class="nav-link px-2 text-dark">Центр конфиденциальности</a></li>
  <li><a href="#" class="nav-link px-2 text-dark">Файлы cookie</a></li>
  <li><a href="#" class="nav-link px-2 text-dark">Конфиденциальность</a></li>
  <li><a href="#" class="nav-link px-2 text-dark">Условия</a></li>

</ul>


