.container{
  height: 100vh;
  padding-top: 10%;
}

.authentication__inner{
  margin: 0 auto;
}

.authenticationTypes{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.authenticationContent{
  padding-top: 5px;
}
