<div class="container row" *ngIf="roleUser()">
  <div class="user_info_container col-lg-6 col-md-9 col-sm-12" >
    <div class="user_info ">
      <h3 class="userInfoTitle">
        Личная информация:
      </h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Логин*: {{user.username}}</li>
        <li class="list-group-item">Имя пользователя: {{user.name}}</li>
        <li class="list-group-item">Фамилия пользователя: {{user.surname}}</li>
        <li class="list-group-item">Номер телефона: {{user.phone}}</li>
        <li class="list-group-item">Электронная почта: {{user.email}}</li>
      </ul>
      <div class="d-grid gap-1">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#updateUserModal" >Редактировать</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#changePasswordModal" >Изменить пароль</button>

      </div>

    </div>
  </div>

  <div class="liked_products user_info col-lg-6 col-md-9 col-sm-12">
    <h3 class="table_title">
      Избранное:
    </h3>
    <table class="table">
      <thead>
        <tr>

          <th scope="col">Название</th>
          <th scope="col">Цена</th>
          <th scope="col">Ссылка</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of this.user.products; index as i; first as isFirst">


          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td><button class="btn btn-sm btn-light" (click) ="productToString(product)">Подробнее</button></td>
          <td>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="dislikeProduct(product)" >Удалить</button>

          </td>
        </tr>
      </tbody>
    </table>
    <div class="liked_product" *ngFor="let product of this.user.products; index as i; first as isFirst">

    </div>
  </div>
</div>


<!-- Edit User Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateUserModalLabel">Изменить пользователя: {{user?.username}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
           <form #editForm="ngForm">


                 <input type="hidden" ngModel="{{user?.username}}" name="username" class="form-control" id="username" placeholder="Username">

              <input type="hidden" ngModel="{{user?.id}}" name="id" class="form-control" id="id">
              <input type="hidden" ngModel="{{user?.password}}" name="password" class="form-control" id="password" >
              <input type="hidden" ngModel="{{user?.roles}}" name="role" class="form-control" id="role" >

              <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" ngModel="{{user?.name}}" name="name" class="form-control" id="name" placeholder="Имя">
              </div>

              <div class="form-group">
                 <label for="surname">Фамилия</label>
                 <input type="text" ngModel="{{user?.surname}}" name="surname" class="form-control" id="surname" placeholder="Фамилия">
              </div>

              <div class="form-group">
                 <label for="phone">Номер телефона</label>
                 <input type="text" ngModel="{{user?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="+1234567890">
              </div>
              <div class="form-group">
                <label for="email">Почта</label>
                <input type="text" ngModel="{{user?.email}}" name="email" class="form-control" id="email" name="email"  placeholder="help@gmail.com">
             </div>
              <div class="modal-footer">
                 <button type="button" id="edit-product-form" data-bs-dismiss="modal" class="btn btn-secondary" >Закрыть</button>
                 <button (click)="onUpdateUser(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Сохранить</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!--Change password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="changePasswordModalLabel">Изменить пароль: {{user?.username}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
           <form #changePasswordForm="ngForm">

              <input type="hidden" ngModel="{{user?.username}}" name="username" class="form-control" id="username" >

              <div class="form-group">
                <label for="oldPassword">Старый пароль</label>
                <input type="password" ngModel name="oldPassword" class="form-control" id="oldPassword" >
              </div>

              <div class="form-group">
                 <label for="newPassword">Новый пароль</label>
                 <input type="password" ngModel name="newPassword" class="form-control" id="newPassword" >
              </div>

              <div class="form-group">
                 <label for="reNewPassword">Новый пароль еще раз</label>
                 <input type="password" ngModel name="reNewPassword" class="form-control" id="reNewPassword" name="reNewPassword" >
              </div>
              <div class="modal-footer">
                 <button type="button" id="edit-product-form" data-bs-dismiss="modal" class="btn btn-secondary" >Закрыть</button>
                 <button (click)="getNewPassword(changePasswordForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Сохранить</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>
